@use "Global" as g;

.title {
  &_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25vh;
    background-color: g.$color-tertiary;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  &_text {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: g.$color-text;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    line-height: 1.5;

    &__user-name {
      color: g.$color-primary;
    }
  }
}
